* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
}
a, button {
  cursor: pointer;
  transition: all 0.5s ease;
}
html{
  scroll-behavior: smooth;
}

body {


  --color1: #170e21;
  --color2: #ffffff;
  --color3: #85b864;
  --color4: #b7eb94a8;
  --color5: #ffffff;
}

body::-webkit-scrollbar{
  width: 6px;
}
body::-webkit-scrollbar-thumb{
  background: linear-gradient(to right bottom, var(--color5), var(--color4));
  border-radius: 6px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
}

nav {
  background-color: #00000042;
  border-radius: 0 0 20px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  backdrop-filter: blur(10px); /* Добавлено для размытия фона */
}


.nav__elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  width: 50px;
}
.nav__logo img{
  width: 100%;
}

.nav__links {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav__links a {
  color: var(--color2);
}

.nav__links a:hover {
  color: var(--color4);
}

@keyframes gradient-animation {
  0% {
    background-position: top left;
  }

  100% {
    background-position: bottom right;
  }
}

.link-order {
  background: linear-gradient(120deg, var(--color2), var(--color3));
  background-size: 300% 300%; 
  animation: gradient-animation 5s ease infinite alternate; 
  padding: 10px 20px;
  border-radius: 10px;
  color: var(--color1) !important;
}

.link-order:hover {
  /* transform: scale(1.05); */
  box-shadow: 0 0 10px var(--color4);
}
.hamburger {
  display: none;
}


header {
  position: relative;
  height: 100vh;
  max-height: 800px;
  background: linear-gradient(to right bottom, var(--color1), var(--color3));
  border-radius: 0 0 20px 20px;
}
.header__elements{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  height: 100%;
}
.header__elements img{
  max-width: 340px;
  animation: float 3s ease-in-out infinite alternate-reverse; /* Добавлено для анимации */
}

/* Добавлено определение анимации */
@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-5px, -10px);
  }
}

h1{
  color: var(--color2);
  font-size: 56px;
  font-weight: 700;
  line-height: 1;
  max-width: 500px;
  margin-bottom: 40px;
}

.gradient-text {
    background: linear-gradient(90deg, var(--color3), var(--color3));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__elements ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transform: translateX(26px);
}

.header__elements li{
  color: var(--color2);
  position: relative;
}
.header__elements li::before{
  content: '';
  display: block;
  width: 16px;
  height: 2px;
  background-color: var(--color3);
  position: absolute;
  top: calc(50% - 1px);
  left: -26px;
}

section{
  padding: 80px 0;
}

h2{
  font-size: 54px;
  margin-bottom: 60px;
  text-align: center;
}

.what__item{
  display: flex;
  align-items: start;
  margin-bottom: 30px;
}

.what__item img{
  width: 50%;
  object-fit: 100%;
  object-position: center;
}
.what__text-block{
  background-color: var(--color4);
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: sticky;
  top: 50px;
}

.what__item_right{
  flex-direction: row;
}
.what__item_right .what__text-block{
  border-radius: 0 16px 16px 0;
}
.what__item_right img{
  border-radius:  16px 0 0 16px;
}


.what__item_left{
  flex-direction: row-reverse;
}
.what__item_left .what__text-block{
  border-radius:  16px 0 0 16px;
}
.what__item_left img{
  border-radius:  0 16px 16px 0;;
}
.what__text-block h3{
  font-size: 40px;
}
.what__text-block p{
  font-size: 16px;
  line-height: 150%;
}



.cases__list{
  overflow-x: auto;
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.cases__item{
  width: calc(100vw - 60px);
  max-width: 320px;
  height: calc(100vw - 60px);
  max-height: 320px;
  background: linear-gradient(90deg, var(--color4), var(--color3));
  background-size: 400%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  transition: 0.5s;
}

.cases__item img{
  width: 90%;
  transition: 0.5s;
}

.cases__item:hover{
  animation: gradient-animation 0.5s ease infinite alternate; 
  & img{
    width: 85%;
  }
}



.prices{
  background-color: var(--color4);
  border-radius: 20px;
}
.prices__list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.prices__item{
  width: 100%;
  max-width: 400px;
  background-color: var(--color2);
}
.price-box{
  box-shadow: 0 10px 40px 0 var(--color4);
  padding: 40px 30px;
  border-radius: 20px;
}

.price-box h4{
  font-size: 20px;
  font-weight: 500;
  color: var(--color1);
  margin-bottom: 20px;
}

.price-box__cost{
  display: flex;
  gap: 16px;
  align-items: end;
  font-size: 16px;
  margin-bottom: 50px;
}

.price-box__cost span{
  font-size: 56px;
  font-weight: 700;
  transform: translateY(16px);
}

.price-box ul{
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;
}

.price-box li{
  display: flex;
  gap: 10px;
}

.price-box_pro{
  box-shadow: none;
  background-color: var(--color1);
  color: var(--color2);
}

.price-box_pro h4{
  color: var(--color2);
}



.contact{

  border-radius: 20px;
}
.contact h3{
  text-align: center;
  margin-bottom: 30px;
  color: var(--color1);
  font-size: 24px;
}
.contact form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.contact label {
  font-size: 18px;
  font-weight: 600;
  color: var(--color1);
}

.contact input {
  padding: 16px 10px;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  border: 1px solid var(--color3);
  border-radius: 8px;
  outline: none;
  background-color: white;
  color: var(--color1);
  transition: 0.4s;
  box-shadow: 0px 0px 2px var(--color3) ;
}

.contact input::placeholder {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  color: var(--color1);
}

.contact input:focus {
  box-shadow: 0px 0px 20px var(--color3);
}

.contact button {
  padding: 16px 10px;
  margin-bottom: 10px;
  font-size: 20px;
  border-radius: 8px;
  outline: none;
  background-color: var(--color3);
  color: var(--color2);
  border: 1px solid var(--color3);
  cursor: pointer;
}

.contact button:hover {
  background-color: var(--color1);
  border: 1px solid var(--color1);
}

form p {
  font-size: 14px;
  color: var(--color1);
}

form p span {
  color: var(--color3);
  font-weight: 400;
  text-decoration: underline;
  cursor: pointer;
}

form iframe {
  display: none;
}

.form-submit {
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  background-color: var(--color3);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}

.form-submit h3 {
  color: var(--color1);
  font-weight: 600;
}


footer {
  background-color: var(--color1);
  border-radius: 20px 20px 0 0;
}

.footer__elements {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
  padding: 20px 0;
  flex-wrap: wrap;
}

.footer__contact{
  display: flex;
  gap: 20px;
}
.footer__contact a {
  color: var(--color2);
  font-size: 20px;
}

.footer__mailLink {
  color: var(--color2);
  font-size: 20px;
}

.footer__logo img {
  width: 25px;
}




/* js */

._show {
  opacity: 1;
  visibility: visible;
}